// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$light-gray: #F6F5F5;
$occer: #7b4d35;
$senf-yellow: #c7b03e;
$schlamm-green: #776f4b;
$brown: #b1804d

