// Specific CSS for your home-page
.banner {
  height: 100vh;
  background-size: cover;
  background-position: top;
  padding: 70px 0;
  background-image: asset-url('Weinberge.png');
  color: $occer;
}


// .container {
//   margin-top: 30px;
// }

.container > h1 {
  font-size: 48px;
  margin-buttom: 20 px;
}

h4 {
  margin-bottom: 50px;
  color: $senf-yellow;
}
